<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792221929395-j5e4ncmeg62ukrjn03csme7m6878erfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792221929395-j5e4ncmeg62ukrjn03csme7m6878erfb</string>
	<key>API_KEY</key>
	<string>AIzaSyBx9ukjvRYcXBX7yP1tUqQehH7jGba2WM4</string>
	<key>GCM_SENDER_ID</key>
	<string>792221929395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.igorfortti.SwiftArquiteturas</string>
	<key>PROJECT_ID</key>
	<string>swiftarquiteturas-d384a</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftarquiteturas-d384a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792221929395:ios:40a62661aaf1b311d685c6</string>
</dict>
</plist>